body{
    background-color: aqua;
}
#div1{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-top: 160px;
height: 250px;
padding-left: 30px;
border: 100px;
width: 200px;
margin-left: 270px;
background-color: cadetblue;
}
#b1{
    margin-top: 10px;
    color: white;
    background-color: blue;
    margin-left: 50px;
}
